# Output folder (aka binaries)
Build/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
cmake-build-debug/_deps/assimp-src/
cmake-build-debug/_deps/catch2-src/
cmake-build-debug/_deps/glm-src/
cmake-build-debug/_deps/imgui-src/
cmake-build-debug/_deps/imgui_sfml-src/
cmake-build-debug/_deps/sfml-src/
